<div id='base' class="" data-ng-controller="UserController" data-ng-init="init()">

    <div>
        <h1>Manam Foundation</h1>
        "Nenu anukunte oka adugu", "MANAM anukunte mundadugu"

        MANAM foundation is non government Organization which is working on basic rights of children and orphans and
        poor people to give them a better future.

        MANAM foundation main mission is to provide food, shelter to poor people , orphans and kids and physically and
        mentally challenged people and also MANAM foundation takes care about health of kids by providing proper food.

        MANAM foundation main objective is make society better in terms of education and health for kids and orphans and
        poor people especially old age people , physically and mentally challenged .

        MANAM does below services :-

        Manam Services:

        1) Helping Orphan kids
        2) Helping old age people such as donating clothes
        3) Serving people at time of Natural disasters such as flood
        4) serving poor in need
        5) helping in eradicating unemployment
        6) teaching cancer and AIDS kids
        7) helping mentally ill and handicapped people.
        8) Helping GULF related victims
        9) Food & water distribution camps in bustands schools and Temples n MELA's
        10. Blood donation services

        The man behind this noble cause is Shri Kumar & Friends(Team)who is working as a Software Engineer.He started
        MANAM foundation in 2017
        with intension to serve poor people and old age people to make better society in future.


        Past-Present-Future(MANAM):

        Past is which can never be changed

        Future is which can never be expected

        So,concentrate on present which decides future and makes a big difference for past too
    </div>

    <div ng-repeat="user in users">
        FirstName : {{user.firstName}}
    </div>

</div>